<div class="finalStage">
  <img src="../../assets/final-info-img.jpg" />
</div>
<div class="finalInfo">
  <h5>გამეგზავრება The Festival In Maltas-ზე!</h5>
  <p>
    The Festival სერიების ფარგლებში ევროპაბეთი უკვე მეორედ აძლევს პოკერის
    მოთამაშეებს დაუვიწყარი მოგშაურობის შანსს.
  </p>
</div>

<div class="overall-prizes prize-list">
  <div>
    <div class="border"></div>
    <img src="../../assets/travel-icon-big.png" />The Festival in Maltas-ს
    საგზური
  </div>
</div>

<div class="list-container">
  <div class="list-item">
    <div class="bc-grey flex-center">
      <div class="flex-center tittle">A კატეგორიის საგზურში შედის</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
  </div>
  <div>
    <div class="bc-grey flex-center">
      <div class="flex-center tittle">A კატეგორიის საგზურში შედის</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
  </div>
  <div>
    <div class="bc-grey flex-center">
      <div class="flex-center tittle">A კატეგორიის საგზურში შედის</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
    <div class="item-prize">
      <div><img src="../../assets/travel-icon-big.png" /> ავიაბილეთი</div>
    </div>
  </div>
</div>
