<div class="container">
  <div class="list1">
    <div class="list-info">
      <div>"Cashgame Grinders"-ს 1 საგზური</div>
      <img src="../../assets/poker-item-1-ticket-icon.png" />
    </div>
    <div class="list-info">
      <div>"Cashgame Grinders"-ს 1 საგზური</div>
      <img src="../../assets/poker-item-1-ticket-icon.png" />
    </div>
    <div class="list-info">
      <div>"Cashgame Grinders"-ს 1 საგზური</div>
      <img src="../../assets/poker-item-1-ticket-icon.png" />
    </div>
  </div>
  <div class="list1">
    <div class="list-info">
      <div>"Cashgame Grinders"-ს 1 საგზური</div>
      <img src="../../assets/poker-item-1-ticket-icon.png" />
    </div>
    <div class="list-info">
      <div>"Cashgame Grinders"-ს 1 საგზური</div>
      <img src="../../assets/poker-item-1-ticket-icon.png" />
    </div>
  </div>
</div>
