<div class="scrollable">
  <div>
    <img src="../../assets/9f3d1d01-884f-4a31-9a3c-0892b9d9a75d.png" />
    <div class="info">
      <h5>Get 300% Chashback</h5>
      <p>retrieve 300% bet amount as real money only here</p>
    </div>
  </div>
  <div>
    <img src="../../assets/9f3d1d01-884f-4a31-9a3c-0892b9d9a75d.png" />
    <div class="info">
      <h5>Get 300% Chashback</h5>
      <p>retrieve 300% bet amount as real money only here</p>
    </div>
  </div>
  <div>
    <img src="../../assets/9f3d1d01-884f-4a31-9a3c-0892b9d9a75d.png" />
    <div class="info">
      <h5>Get 300% Chashback</h5>
      <p>retrieve 300% bet amount as real money only here</p>
    </div>
  </div>
  <div>
    <img src="../../assets/9f3d1d01-884f-4a31-9a3c-0892b9d9a75d.png" />
    <div class="info">
      <h5>Get 300% Chashback</h5>
      <p>retrieve 300% bet amount as real money only here</p>
    </div>
  </div>
  <div>
    <img src="../../assets/9f3d1d01-884f-4a31-9a3c-0892b9d9a75d.png" />
    <div class="info">
      <h5>Get 300% Chashback</h5>
      <p>retrieve 300% bet amount as real money only here</p>
    </div>
  </div>
</div>
