<div>
  <div class="flex-center">
    <div class="flex-center tittle-info">
      <h5>ყოველდღიური ტურნირები და სატელიტები</h5>
    </div>
  </div>
</div>
<div class="tournament-bg">
  <div class="news">
    <img src="../../assets//tournament-bg.png" />
    <div class="tournament-bg-info">
      <div>
        <p>Holdem Highrollers</p>
        <h5>50 000 ლ</h5>
      </div>
      <div>
        <p>ბია-ინი-550ლ</p>
        <h6>27 აპრილი</h6>
      </div>
    </div>
  </div>
  <div class="news">
    <img src="../../assets//tournament-bg.png" />
    <div class="tournament-bg-info">
      <div>
        <p>Omaha Highrollers</p>
        <h5>50 000 ლ</h5>
      </div>
      <div>
        <p>ბია-ინი-550ლ</p>
        <h6>28 აპრილი</h6>
      </div>
    </div>
  </div>
</div>
<div class="main-tournament">
  <img src="../../assets//tournament-bg.png" />
  <div class="tournament-bg-info">
    <div>
      <p>Omaha Highrollers</p>
      <h5>50 000 ლ</h5>
    </div>
    <div>
      <p>ბია-ინი-550ლ</p>
      <h6>28 აპრილი</h6>
    </div>
  </div>
</div>
