<div class="flex-center">
  <div class="flex-center tittle-info">
    <h5>ჰოლდემის TOP20 ლიდერბორდი</h5>
    <img src="../../assets/example-icon.png" />
  </div>
</div>

<div class="prize-list bc-grey">
  <div class="hor-arr bc-grey">
    <p>ადგილი</p>
    <p>ვაუჩერი</p>
    <p>პრიზი</p>
  </div>
  <div class="scrollable bc-grey">
    <div class="prize-list-item">
      <div class="rank">1</div>
      <div class="voucher">-</div>
      <div class="prize-info">
        <img src="../../assets/travel-icon-big.png" />A კატეგორიის საგზური
      </div>
    </div>
    <div class="prize-list-item">
      <div class="rank">2</div>
      <div class="voucher">-</div>
      <div class="prize-info">
        <img src="../../assets/ticket-icon-big.png" />B კატეგორიის საგზური
      </div>
    </div>

    <div class="prize-list-item">
      <div class="rank">3</div>
      <div class="voucher">1500 ლ</div>
      <div class="prize-info">სპეც. ტურნირის ბილეთი</div>
    </div>

    <div class="prize-list-item">
      <div class="rank">4</div>
      <div class="voucher">1200 ლ</div>
      <div class="prize-info">სპეც. ტურნირის ბილეთი</div>
    </div>

    <div class="prize-list-item">
      <div class="rank">5</div>
      <div class="voucher">1000 ლ</div>
      <div class="prize-info">სპეც. ტურნირის ბილეთი</div>
    </div>

    <div class="prize-list-item">
      <div class="rank">6</div>
      <div class="voucher">800 ლ</div>
      <div class="prize-info">სპეც. ტურნირის ბილეთი</div>
    </div>

    <div class="prize-list-item">
      <div class="rank">7</div>
      <div class="voucher">600 ლ</div>
      <div class="prize-info">სპეც. ტურნირის ბილეთი</div>
    </div>
  </div>
</div>

<div class="overall-prizes prize-list bc-grey">
  <div>
    <div class="border"></div>
    <img src="../../assets/travel-icon-big.png" />The Festival in Maltas-ს
    საგზური
  </div>
  <div>
    <div class="border"></div>
    <img src="../../assets/ticket-icon-big.png" />სპეციალური ტურნირის "Cashgame
    sharks" ბილეთი, სადაც გათამაშდება The Festival in Maltas-ს საგზური
  </div>
  <div>
    <div class="border"></div>
    <img src="../../assets/ticket-icon-big.png" />ტექნიკის მაღაზიის ვაუჩერი
  </div>
</div>
